<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collection</title>
    <link rel="stylesheet" href="/path/to/main.css"> 
</head>
<body>
    <%- include('partials/navbar', {page: '/lego/sets'}) %>
    <h1>Collection</h1>
    <ul>
        <li><a href="/lego/sets?theme=technic">Technic</a></li>
        <li><a href="/lego/sets?theme=classic">Classic Town</a></li>
        <
    </ul>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Theme</th>
                <th>Year</th>
                <th>Parts</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% sets.forEach(set => { %>
            <tr>
                <td><img src="<%= set.img_url %>" alt="<%= set.name %>" style="max-width: 100px;"></td>
                <td><%= set.name %></td>
                <td><a href="/lego/sets?theme=<%= set.theme %>"><%= set.theme %></a></td>
                <td><%= set.year %></td>
                <td><%= set.num_parts %></td>
                <td><a href="/lego/set/<%= set.set_num %>">Details</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
